body
  background-color: #E6E6E6

.container-fluid
  padding: 0

.handleiding	
  width: 375px
  height: 667px

.mobile 
  width: 375px
  height: 667px 
  background-color: #E6E6E6

.header
  display: flex
  justify-content: center

.logo 
  height: 160px	
  width: 176px
  margin-top: 50px
  
.welkom 
  color: #1A1A1A
  font-family: 'Montserrat', sans-serif
  font-size: 36px
  font-weight: bold
  line-height: 36px
  text-align: center
  margin-top: 40px

.inleiding
  color: #1A1A1A
  font-family: Montserrat
  font-size: 18px
  line-height: 24px
  text-align: center

.knoppen 
  display: flex
  justify-content: space-between
  margin-top: 25px
  padding-right: 30px
  padding-left: 30px

a.knop 
  height: 62.26px
  width: 154px
  background-color: white
  display: flex
  justify-content: space-around
  align-items center
  border-left: none
  border-right: none
  border-top: none
  border-bottom: solid 5px #7D7D7D
  &:hover 
    color: black
    text-decoration: none
    
a.tekst_knop
  color: #111
  font-family: Montserrat
  font-size: 21px
  font-weight: 400
  margin: 0
  text-decoration: none

.spacing_account
  display: flex
  justify-content: center

.knop_account
  height: 62.26px
  width: 316px
  margin-top: 27px
  background-color: rgba(78,205,196,1)
  display: flex
  justify-content: space-around
  align-items center
  border-left: none
  border-right: none
  border-top: none
  border-bottom: solid 5px white
  &:focus
    outline: none
    
a.tekst_knop_account
  font-family: Montserrat
  font-size: 21px
  color: white
  font-weight: 400
  margin: 0
  &:hover 
    color: white
    text-decoration: none

.menu_bar 
  height: 75px
  width: 375px
  background-color: #4ECDC4
  display: flex
  justify-content: space-around
  align-items center
  margin-bottom: 25px

.fa-chevron-left
  color: white
  padding-right: 85px
  &:hover
    color: white 
    text-decoration: none
  
.fa-user-circle-o
  color: white
  padding-left: 85px
  &:hover
    color: white 
    text-decoration: none

.spacing_category
  display: flex
  flex-direction: column
  align-items: center

.category 
  height: 70px
  width: 315px
  background-color: white
  margin-top: 10px
  position: relative

.shadow
  height: 100%
  width: 100%
  background-color: black
  opacity: 0.30
  position: absolute
  top: 0
  left: 0

.icons
  color: white
  margin-top: 20px
  margin-left: 132px
  position: absolute

.foto_catergory
  height: 65px
  width: 65px
  float: left

.p_category 
  display: inline-block
  font-family: Montserrat
  font-size: 21px
  color: black
  font-weight: 400
  margin-top: 15px
  margin-left: 10px
  float: left


button.category 
  padding: 0
  border-left: none
  border-right: none
  border-top: none
  border-bottom: solid 5px #7D7D7D
  &:focus
    outline: none

.challenge_collapse 
  height: 55px
  width: 300px
  background: #7D7D7D
  display: flex
  align-items: center
  justify-content: space-around
  
.knop_categorie_quiz
  background-color: white
  width: 130px
  height: 40px
  line-height: 40px;
  font-family: Montserrat
  font-size: 18px
  font-weight: 400
  color: black
  text-decoration: none
  text-align: center 
  display: inline-block
  margin-bottom: 5px;
  &:hover
    text-decoration: none
    color: #111

.spacing_account_aanmaken
  display: flex
  flex-direction: column
  align-items: center

h1.aanmaak_tekst
  color: white
  font-family: Montserrat
  font-size: 24px
  font-weight: 400
  margin: 0
  text-decoration: none 
  text-align: center

.menu_bar_aanmaken 
  height: 75px
  width: 375px
  background-color: #4ECDC4
  display: flex
  align-items center
  margin-bottom: 25px

a.nopadding
  color: white
  padding-right: 30px
  margin-left: 15px

.form
  width: 300px
  height: 60px
  border-left: none
  border-right: none
  border-top: none
  margin-bottom: 20px
  border-bottom: solid 5px #7D7D7D

h3.form_tekst 
  color: black
  font-family: Montserrat
  font-size: 22px
  font-weight: 600
  margin-bottom: 8px
  margin-top: 0 
  text-decoration: none 

button.bevestig_knop
  width: 180px
  height: 60px
  margin-left: 38px
  background-color: rgba(241,84,121,1)
  border-bottom: solid 5px #A72846
  border-left: none
  border-right: none
  border-top: none
  display: flex
  line-height: 60px
  justify-content: center
  &:focus
    border:none

p.bevestig_knop_tekst
  color: white
  font-family: Montserrat
  font-size: 22px
  line-height: 22px
  margin-bottom: 0
  font-weight: 400
  &:hover
    text-decoration: none
    color: white


.category_account 
  height: 70px
  width: 315px
  background-color: white
  margin-top: 10px
  position: relative

.foto_catergory_account
  height: 65px
  width: 65px
  float: left

.p_category_account 
  font-family: Montserrat
  font-size: 20px
  color: black
  font-weight: 600
  flex: 1 1 70%

.p_category_code
  font-family: Montserrat
  font-size: 15px
  color: gray
  font-weight: 400
  margin-left: 10px
  float: left

.wrap-p
  display: flex
  flex-wrap: nowrap
  flex-direction: row
  align-items: center
  height: 100%

.wrap-2
  flex: 1 1 70%;
  justify-content: flex-start
  align-items: center;
  padding-left: 10px
  height: 100%
  display: flex
  flex-wrap: wrap;
  p
    text-align: left
    margin: 0
    flex: 1 1 100%;

.punten
  font-family: Montserrat
  font-size: 18px
  color: black
  font-weight: 400
  flex: 1 1 30%

button.category_account
  padding: 0
  border-left: none
  border-right: none
  border-top: none
  border-bottom: solid 5px #7D7D7D
  &:focus
    outline: none

.fa-plus
  color: white
  padding-left: 85px
  &:hover
    color: white 
    text-decoration: none

.spacing_account_vrienden
  display: flex
  flex-direction: column
  align-items: center

h3.account_tekst 
  display: block
  color: black
  font-family: Montserrat
  font-size: 23px
  font-weight: 600
  margin-bottom: 0
  margin-top: 15px
  margin-left: 60px
  text-decoration: none 
  width: 100%
  
.nopadding_1
  color: white
  padding-right: 45px
  margin-left: 15px

h3.form_tekst_1 
  color: black
  font-family: Montserrat
  font-size: 32px
  font-weight: 600
  margin-bottom: 30px
  margin-top: 130px 
  text-decoration: none
  text-align: center 

h1.challenge_title
  color: black
  font-family: Montserrat
  font-size: 32px
  font-weight: 600
  margin-bottom: 20px
  text-align: center

title_div
  display: flex
  justify-content: center
  align-items: center
  
.title_img
  width: 375px
  
.title_img_challenge
  width: 270px
  margin-left: 53px

.start_knop_quiz
  width: 200px
  height: 60px
  margin-top: 50px
  background-color: rgba(241,84,121,1)
  border-bottom: solid 5px #A72846
  display: flex
  line-height: 60px
  justify-content: center

a.start_knop_tekst
  color: white
  font-family: Montserrat
  font-size: 22px
  font-weight: 400
  &:hover
    text-decoration: none
    color: white

p.start_knop_tekst
  color: white
  font-family: Montserrat
  font-size: 22px
  font-weight: 400
  &:hover
    text-decoration: none
    color: white

button.start_knop_quiz
  border-left: none
  border-right: none
  border-top: none
  &:focus
    text-decoration: none
    outline: none

.pink_start
  width: 375px
  height: 667px
  background-color: #F15479

#countdownie
  font-family: Montserrat
  line-height: 100px
  font-size: 50px
  color: #fff
  font-weight: bold
  position: absolute
  margin-top: 220px
  border-radius: 5px


p.count_tekst 
  font-family: Montserrat
  font-size: 40px
  color: white
  margin-top: 160px

.vragen_kader
  width: 100%
  height: 130px
  background-color: white
  padding: 15px

.menu_bar_quiz
  height: 75px
  width: 375px
  background-color: #4ECDC4
  display: flex
  padding-left: 30px
  align-items center

.vragen_uitgebreid
  font-family: Montserrat
  font-size: 20px
  color: black

#countquestion {
  font-family: Montserrat
  margin-top: 15px
  line-height: 53px
  font-size: 30px
  color: #111
  font-weight: bold
  position: absolute
  border-radius: 50px
  width: 60px
  height: 60px
  border: solid 5px gray
  text-align: center
}

.align_count 
  display: flex
  justify-content: center

.spacing_quiz
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 95px

.quiz_knop 
  height: 70px
  width: 300px
  background-color: white
  margin-bottom: 20px
  position: relative

.quiz_knop_cijfer
  height: 70px
  width: 200px
  background-color: white
  margin-bottom: 20px
  position: relative

.p_quiz_knop
  display: inline-block
  font-family: Montserrat
  font-size: 22px
  color: black
  font-weight: 400
  line-height: 70px

.p_quiz_knop_1
  display: inline-block
  font-family: Montserrat
  font-size: 17px
  color: black
  font-weight: 400
  line-height: 70px

.p_quiz_knop_cijfer
  display: inline-block
  font-family: Montserrat
  font-size: 32px
  color: black
  font-weight: 400
  line-height: 70px

button.quiz_knop
  padding: 0
  border-left: none
  border-right: none
  border-top: none
  border-bottom: solid 5px #7D7D7D
  &:focus
    outline: none

button.quiz_knop_fout
  padding: 0
  border-left: none
  border-right: none
  border-top: none
  border-bottom: solid 5px #F20C0C
  &:focus
    outline: none

button.quiz_knop_goed
  padding: 0
  border-left: none
  border-right: none
  border-top: none
  border-bottom: solid 5px #68DA44
  &:focus
    outline: none

button.quiz_knop_cijfer
  padding: 0
  border-left: none
  border-right: none
  border-top: none
  border-bottom: solid 5px #7D7D7D
  &:focus
    outline: none


#tijdop {
  font-family: Montserrat
  line-height: 100px
  font-size: 50px
  color: #fff
  font-weight: bold
  position: absolute
  margin-top: 220px
  border-radius: 5px
}

p.count_tekst_tijd_op 
  font-family: Montserrat
  font-size: 36px
  color: white
  margin-top: 180px

#volgendevraag {
  font-family: Montserrat
  line-height: 100px
  font-size: 50px
  color: #fff
  font-weight: bold
  position: absolute
  margin-top: 220px
  border-radius: 5px
}

p.count_tekst_next
  font-family: Montserrat
  font-size: 34px
  color: white
  margin-top: 180px

.uitslag_kader
  width: 320px
  height: 540px
  background-color: white

.fa-times
  color: black
  margin-left: 15px
  margin-top: 10px
  &:hover
    color: black
    text-decoration: none


h1.uitslag
  display: inline-block
  font-family: Montserrat
  font-size: 36px
  margin-left: 45px

.uitslag_knop
  width: 180px
  height: 60px
  margin-left: 68px
  margin-top: 350px
  background-color: rgba(241,84,121,1)
  border-bottom: solid 5px #A72846
  display: flex
  line-height: 60px
  justify-content: center

a.uitslag_knop_tekst
  color: white
  font-family: Montserrat
  font-size: 22px
  font-weight: 400
  &:hover
    text-decoration: none
    color: white

.menu_bar_2
  height: 75px
  width: 375px
  background-color: #4ECDC4
  display: flex
  padding-left: 30px
  align-items center
  margin-bottom: 25px
  
h1.uitdaging_titel
  margin-top: 30px
  margin-bottom: 50px
  color: black
  font-family: Montserrat
  font-size: 32px
  font-weight: 600
  text-align: center

.spacing_friend
  display: flex
  align-items: center
  justify-content: center

.spacing_klaar
  display: flex
  flex-direction: column
  align-items: center

.friend_1
  background-color: white
  width: 130px
  height: 130px
  display: flex
  margin: 5px
  border: 10px solid gray 
  

.friend_2
  background-color: white
  width: 130px
  height: 130px
  display: flex
  margin: 5px
  border: 10px solid #68DA44
  
.foto_uitdaging
  height: 110px
  width: 110px
  
.moreinfo{
  position: relative;
  visibility: hidden;
  width: 100%;
  background-color: pink;
  text-align: center;
  transition: all 0.5s;
  transform: translateY(0);
}


.info-block{
    overflow: hidden;
  height: 100%;
}

.info{
  z-index: 9999;
  position: absolute;
  width: 100%;
  background-color: #aaa;
  text-align: center;
}

.view{
  width: 100%;
  left: 0;
}

.moreinfo{
  position: relative;
  visibility: hidden;
  width: 100%;
  background-color: #aaa;
  text-align: center;
  transition: all 0.5s;
  transform: translateY(0);
}

#close{
  width: 20px;
  background: none;
  border: none;
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  right: 0;
}

.spacing_quiz_challenge
  display: flex
  align-items: center
  margin-top: 50px
  justify-content: center

.spacing_quiz_challenge_2
  display: flex
  align-items: center
  justify-content: center

.challenge_quiz_knop_cijfer
  height: 70px
  width: 160px
  background-color: white
  margin-bottom: 20px
  position: relative
  margin: 10px

button.challenge_quiz_knop_cijfer
  padding: 0
  border-left: none
  border-right: none
  border-top: none
  border-bottom: solid 5px #7D7D7D
  background-color: white
  &:focus
    outline: none

.p_challenge_quiz_knop_cijfer
  display: inline-block
  font-family: Montserrat
  font-size: 25px
  color: black
  font-weight: 400
  line-height: 70px

.p_challenge_quiz_knop_cijfer_1
  display: inline-block
  font-family: Montserrat
  font-size: 15px
  color: black
  font-weight: 400
  line-height: 70px

.p_challenge_quiz_knop_cijfer_2
  display: inline-block
  font-family: Montserrat
  font-size: 10px
  color: black
  font-weight: 400
  line-height: 70px

.foto_challenge_links
  display: inline-block

.foto_challenge_rechts
  display: inline-block
  float: right

.foto_challenge
  height: 60px
  width: 60px
  float: left
  margin: 15px
  background-color: white

.foto_challenge_2
  height: 60px
  width: 60px
  margin: 15px

.points 
  display: block
  margin-top: 55px
  margin-left: 15px
  width: 30px
  height: 100px
  background-color: rgba(241,84,121,1)

.points_2 
  display: block
  margin-top: -35px
  margin-left: 45px
  width: 30px
  height: 100px
  background-color: rgba(241,84,121,1)
